*{
    margin:0;
    background-color: hsl(180, 21%, 15%);
    color: white;;
}
.About-navbar{
    display: flex;
    justify-content: center;

}
.section-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
