@media screen and (max-width: 768px){
    .nav-links{
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #1a1a2e;
        flex-direction: column;
        width: 200px;
        display: none;
    }

    .nav-links li{
        margin: 15px 0;
        text-align: center;
    }

    #menu-toggle:checked + .hamburger + .nav-links{
        display: flex;
    }

    .hamburger{
        display: block;
    }

    .hero-section{
        flex-direction: column;
        text-align: center;
    }

    .hero-container img{
        margin-top: 30px;
    }

    .category-cards{
        flex-direction: column;
        gap: 20px;
    }
}
