*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #1a1a2e;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: white;

}
.nav-links{
    list-style: none;
    display: flex;
    /* gap: 20px; */
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    /* flex-direction: column; */
    transition: color 0.3s;

}
.nav-links li{
    margin-left: 20px;
}


.nav-links a:hover{
    color: #3a5a40;
}


#menu-toggle{
    display: none;
}
.hamburger{
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
}
.hero-section{
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 100px 50px 50px 50px;
   background-color: #1f2f2f;
   color: #f5f5f5;
   min-height: 80vh;


}
.hero-image{
    max-width: 100%;
    border-radius: 8px;
}

.hero-container h1{
   font-size: 48px;
   margin-bottom: 20px;

}
.hero-container p{
    font-size: 18px;
    margin-bottom: 20px;
}
.hero-container button {
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 16px;
    background-color: #3a5a40;
    color: #f0f0f0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

}
.hero-container button:hover{
    background-color: #2c3d3c;
}
.categories{
    color: white;
    background-color: #111;
    padding: 60px 50px;
    text-align: center;
}
.categories h2{
    margin-bottom: 40px;
    font-size: 36px;
}
.category-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    background-color: #2c3e3c;
    padding: 40px 20px;
    border-radius: 10px;
    flex: 1 1 200px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}
.card:hover{
    /* transform: translateY(-50px); */
    transform: translateY(-15px);
}
footer{
    background-color: #1a1a2e;
    color: wheat;
    text-align: center;
    padding: 20px 0;
}

