.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #1a1a2e;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: white;

}
.nav-links{
    list-style-type: none;
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 16px;
    transition: color 0.3s;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    flex-direction: column;

}


.nav-links a:hover{
    color: #3a5a40;
}


#menu-toggle{
    display: none;
}
.hamburger{
    display: none;
    font-size: 25px;
    cursor: pointer;
}
.hero-section{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #1e2f2f;
    height: auto;
    align-items: center;
    text-align: center;
    /* width: 100%; */


}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 40px;
}
.hero-image{
    max-width: 100%;
    border-radius: 8px;
}

.hero-text h1{
    color: #f0f0f0;
    font-size: 36px;
    margin-bottom: 15px;

}
.hero-text p{
    color: #dcdcdc;
    font-size: 18px;
    margin-bottom: 20px;
}

#hero-b1 {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #3a5a40;
    color: #f0f0f0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

}
#hero-b1:hover {
    background-color: #2c3d3c;
}

