*{
    margin:0;

    color: white;;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(180, 21%, 15%);
    color: white;
    font-family: sans-serif;
    margin: 0; 
}

.About-navbar{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding: 30px;

}
.section-about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    color: red;
    margin: 0 auto; 


}
.About-card{
     /* flex: 1 1 200px; */
     height: 150px;
     display: flex;
     width: 250px;
     padding: 40px 20px;
     border-radius: 15px;
     text-align: center;
     cursor: pointer;
     background-color: #1a1a2e;
     flex-direction: column;
     justify-content: center;    
     align-items: center;



}
.About-card:hover{
    background-color: #1a1a3e;
    transform: scaleY(1.05);
}
/* #center{
    display: flex;
    align-items: center;
    justify-content: center;
} */



.info-box {
    background-color: #1a1a2e; 
    color: #e0e0e0;            
    
    border-radius: 20px;       
    padding: 40px;             
    

    margin: 50px auto;         
    max-width: 800px;         
    text-align: center;        
    line-height: 1.8;          
    

    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.info-box h2 {
    color: white;
    margin-bottom: 20px;      
}

@media screen and (max-width: 768px) {
    

    .About-navbar {
        margin-top: 70px; 
        padding-bottom: 0;
    }
    
    .About-navbar h1 {
        font-size: 2rem; 
    }


    .section-about {

        gap: 20px;
    }


    .About-card {
        width: 90%;       
        max-width: 350px; 
        height: auto;     
        padding: 30px;  
    }


    .info-box {
        margin: 30px 15px; 
    }
    
    .info-box h2 {
        font-size: 1.5rem;
    }
}